body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #ecf3e5;
}

hr {
  width: 500px;
}

#board {
  width: 400px;
  height: 400px;
  background-color: aliceblue;
  border: 6px solid aliceblue;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: 90px;
  height: 90px;
  border: 5px solid #d9f0f5;
  border-radius: 5px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* colored tiles */

.x2 {
  background-color: #89cafc;
  color: #ffffff;
}

.x4 {
  background-color: #78c1fa;
  color: #ffffff;
}

.x8 {
  background-color: #6cbffe;
  color: white;
}

.x16{
  background-color: #57b6ff;
  color: white;
}

.x32{
  background-color: #5db8fe;
  color: white;
}

.x64{
  background-color: #45acfc;
  color: white;
}

.x128{
  background-color: #2da4ff;
  color: white;
}

.x256{
  background-color: #1e9dfd;
  color: white;
}

.x512{
  background-color: #1398fd;
  color: white;
}

.x1024{
  background-color: #0693ff;
  color: white;
}

.x2048{
  background-color: #0483e3;
  color: white;
}

.x4096 {
  background-color: #0379d3;
  color: white;
}

.x8192 {
  background-color: #036cbd;
  color: white;
}